{% extends "auctions/layout.html" %}


{% block body %}
    <h2>Active Listings</h2>

    <form action="/" method="POST">
        {% csrf_token %}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
            </button>
            <ul class="dropdown-menu">
            {% for category in categories %}
            <li><button class="dropdown-item" name="category" value="{{ category.category }}" type="submit">{{ category.category }}</button></li>
            {% endfor %}
            </ul>
        </div>
    </form>
    
    <ul>
        {% for listing in listings %}
        <div class="listing-div">
            <li> <a href="{% url 'listing' listing.title %}"><img src="{{ listing.img }}" alt="yo"> </a></li>
            <div class="listing-info">
                <li><b>{{ listing.title }}</b></li>
                <li>{{ listing.description }}</li>
                <li><b>Price: {{ listing.price }}</b></li>
            </div>
        </div>

        {% endfor %}

    </ul>
{% endblock %}
