{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

 
    <ul>
        <li><b>{{ listing.title }}</b></li>
        <li>{{ listing.description }}</li>
        <li><b>Price: {{ listing.startbid }}</b></li>
        <li><img src="{{ listing.img }}"></li>

        
        {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.title %}" method="POST">
            <li><button type="submit" name="watchlist">Add to watchlist</button></li>
            <li><input type="text" name="bid" placeholder="add a bid"></li>
            <li><button type="submit" name="close">Close auction</button></li>
            <li><input type="text" name="comment" placeholder="Add a comment"></li>
        </form>
        {% endif %}
    </ul>

    {% if }

   
{% endblock %}